<div class="row pt-5 mb-2 text-center">
  <div class="col-12">
    <h2 class="heading">Select Conversion Category</h2>
  </div>
</div>
<hr>

<div class="row pt-2 pb-2">
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
    <div class="card" (click)="routeLinkCall('distance')">
      <div class="imagediv">Distance</div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Description</h5>
        <p class="card-text font-weight-bold">
          Select me to convert Distance from one unit to other unit.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
    <div class="card" (click)="routeLinkCall('volume')">
      <div class="imagediv">Volume</div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Description</h5>
        <p class="card-text font-weight-bold">
          Select me to convert Volume from one unit to other unit.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 mb-2">
    <div class="card" (click)="routeLinkCall('speed')">
      <div class="imagediv">Speed</div>
      <div class="card-body">
        <h5 class="card-title font-weight-bold">Description</h5>
        <p class="card-text font-weight-bold">
          Select me to convert Speed from one unit to other unit.
        </p>
      </div>
    </div>
  </div>
</div>
